PORT=3000
DB_HOST=dpg-d4avb7he2q1c73b9ue3g-a.singapore-postgres.render.com
DB_PORT=5432
DB_USERNAME=trung
DB_PASSWORD=OtKox2ztrIOx0HN5u75RE848jzCFNdoc
DB_NAME=trello_assk

JWT_SECRET=your_jwt_secret_key_change_this_in_production
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_change_this_in_production
JWT_EXPIRES_IN=15m

SMTP_USER=thanhtuyen27122005@gmail.com
SMTP_PASS=fbtm onic sjxh lfnk

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

GOOGLE_CLIENT_ID=1099380729944-18bkb2qaqrq9r286v1q1ofe5scjn3ib4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback
NODE_ENV=development